name: bookclub-backend
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: ..  # Build context is the project root
      dockerfile: backend/Dockerfile # Path to the Dockerfile
    ports:
      - '8000:8000'
    depends_on:
      - db
    volumes:
      - ../:/usr/src/app # Mount entire project root
    working_dir: /usr/src/app/backend
    environment:
      PYTHONPATH: /usr/src/app/backend
    env_file:
      - .env

volumes:
  postgres_data: